[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/keymon/bash-it.git
[submodule ".my_vimrc"]
	path = .my_vimrc
	url = https://github.com/keymon/vimrc.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm
