[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/keymon/bash-it.git
[submodule ".my_vimrc"]
	path = .my_vimrc
	url = https://github.com/keymon/vimrc.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm
[submodule "local/i3-volume"]
	path = local/i3-volume
	url = https://github.com/hastinbe/i3-volume.git
[submodule ".misc/libinput-gestures"]
	path = .misc/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures.git
